<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>cateringManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
    <servlet-name>alterOrderServlet</servlet-name>
    <servlet-class>com.jojo.web.AlterOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>alterOrderServlet</servlet-name>
    <url-pattern>/alterOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>alterFoodServlet</servlet-name>
    <servlet-class>com.jojo.web.AlterFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>alterFoodServlet</servlet-name>
    <url-pattern>/alterFood</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>alterCartServlet</servlet-name>
    <servlet-class>com.jojo.web.AlterCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>alterCartServlet</servlet-name>
    <url-pattern>/alterCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>alterCommentServlet</servlet-name>
    <servlet-class>com.jojo.web.AlterCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>alterCommentServlet</servlet-name>
    <url-pattern>/alterComment</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>foodDetailServlet</servlet-name>
    <servlet-class>com.jojo.web.FoodDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>foodDetailServlet</servlet-name>
    <url-pattern>/foodDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cartDetailServlet</servlet-name>
    <servlet-class>com.jojo.web.CartDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cartDetailServlet</servlet-name>
    <url-pattern>/cartDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>merchantDetailServlet</servlet-name>
    <servlet-class>com.jojo.web.MerchantDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>merchantDetailServlet</servlet-name>
    <url-pattern>/merchantDetail</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>indexServlet</servlet-name>
    <servlet-class>com.jojo.web.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>merchantInfoServlet</servlet-name>
    <servlet-class>com.jojo.web.MerchantInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>merchantInfoServlet</servlet-name>
    <url-pattern>/merchantInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userInfoServlet</servlet-name>
    <servlet-class>com.jojo.web.UserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userInfoServlet</servlet-name>
    <url-pattern>/userInfo</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>orderListServlet</servlet-name>
    <servlet-class>com.jojo.web.OrderListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>orderListServlet</servlet-name>
    <url-pattern>/orderList</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>imageServlet</servlet-name>
    <servlet-class>com.jojo.web.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>imageServlet</servlet-name>
    <url-pattern>/image</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>testServlet</servlet-name>
    <servlet-class>com.jojo.web.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
</web-app>